h1 {
  font-family: "Helvetica";
  margin: 25px 0;
}

th {
  border: 0.2px solid white;
  background-color: #bababa;
  border-radius: 5px;
}

.root {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica";
  font-weight: light;
  color: #404040;
  position: relative;
}

.table {
  width: 100%;
}

.table tr {
  height: 50px;
}

.name {
  font-weight: bold;
}
.image {
  width: 20px;
  height: 30px;
  color: #404040;
}

.button {
  background-color: #e0cb79;
  width: 100px;
  border-radius: 5px;
  border: 0.2px solid #404040;
  background-color: #9c9c9c;
  font-family: "Helvetica";
  font-weight: 100;
  cursor: pointer;
  border-radius: 18px;
  background-color: #9c9c9c;
  border: solid 1px transparent;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  outline: none;
  margin: 15px 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #404040;
  border-color: #404040;
  transition: all 0.1s ease-in-out;
}
.pic-image {
  margin-top: 5px;
  border-radius: 100%;
  border: 0.2px solid grey;
  width: 38px;
}
.email {
  cursor: pointer;
}

.email:hover {
  background-color: #c9cecc;
  transition: all 0.1s ease-in-out;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background-color: #c1c1c1;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #3bbd85;
}

.dot:hover {
  background-color: #404040;
  border-color: #404040;
  transition: all 0.1s ease-in-out;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.wrap {
  position: absolute;
  top: 632px;
}

.preloader {
  font-family: Helvetica;
  font-weight: 300;
  top: 300px;
  left: 410px;
  text-transform: uppercase;
  width: 200px;
  position: absolute;
  text-align: center;
}

.disabled {
  display: none;
}
